root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[*.{css,html,js,jsx,ts,tsx}]
continuation_indent_size = 4
indent_size = 2

[*.{js,jsx}]
quote_type = single

[*.{md,mdx}]
trim_trailing_whitespace = false
